{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Login/login.js'], name: 'login.js'}) }}
{% endblock %}

{% block content %}
    <h1>{{ __('Login') }}</h1>

    <form class="form-horizontal" data-id="register_form">
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label">{{ __('Username') }}</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-id="username" placeholder="{{ __('Username') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">{{ __('E-Mail') }}</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" data-id="email" placeholder="{{ __('Password') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="first_name" class="col-sm-4 control-label">{{ __('First name') }}</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-id="first_name" placeholder="{{ __('First name') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="col-sm-4 control-label">{{ __('Last name') }}</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" data-id="last_name" placeholder="{{ __('Last name') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">{{ __('Password') }}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-id="password" placeholder="{{ __('Password') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="repeat_password" class="col-sm-4 control-label">{{ __('Repeat password') }}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-id="repeat_password" placeholder="{{ __('Password') }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input id="register_button" type="button" class="btn btn-default" value="{{ __('Register') }}" />
            </div>
        </div>
    </form>
{% endblock %}
