{% extends "Layout/layout.twig" %}

{% block assets %}
{% endblock %}

{% block content %}

        <h1>{{ __('Change Password') }}</h1>

        <form class="form-horizontal col-md-offset-4 col-md-4" data-id="login_form">
            <div class="form-group" data-id="error-message" hidden>
                <div class="col-sm-offset-4 col-sm-4">
                    <strong class="text-danger">{{ __('Username or password invalid.') }}</strong>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">{{ __('Username') }}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" data-id="username" placeholder="{{ __('Username') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">{{ __('Password') }}</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" data-id="password" placeholder="{{ __('Password') }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <input id="login_button" type="button" class="btn btn-default" value="{{ __('Sign in') }}" />
                </div>
            </div>
        </form>
{% endblock %}