{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['ChangePassword/change-password.js'], name: 'change-password.js'}) }}
{% endblock %}

{% block content %}

    <h1>{{ __('Change Password') }}</h1>

    <form class="form-horizontal col-md-offset-4 col-md-4" data-id="change_form">
        <div class="form-group" data-id="error-message" hidden>
            <div class="col-sm-offset-4 col-sm-4">
                <strong class="text-danger">{{ __('Password invalid.') }}</strong>
            </div>
        </div>
        <div class="form-group">
            <label for="password_old" class="col-sm-4 control-label">{{ __('Old password') }}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-id="password_old" placeholder="{{ __('Old password') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="password_new" class="col-sm-4 control-label">{{ __('New password') }}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-id="password_new" placeholder="{{ __('New password') }}">
            </div>
        </div>
        <div class="form-group">
            <label for="password_repeat" class="col-sm-4 control-label">{{ __('Repeat password') }}</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" data-id="password_repeat" placeholder="{{ __('Repeat password') }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <input id="change_button" type="button" class="btn btn-danger" value="{{ __('Change password') }}"/>
            </div>
        </div>
    </form>
{% endblock %}