<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#222222">
    <meta name="author" content="Marc Wilhelm">
    <meta name="description" content="A Slim template">
    <meta name="keywords" content="Slim, template">
    <meta name="robots" content="nofollow">
    <base href="{{ path_for('root') }}">
    <meta name="xhr-baseurl" content="{{ path_for('root', { 'language': language }) }}">
    <link rel="canonical" href="{{ canonical }}"/>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/mustache.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

    {{ assets({files: ['Layout/layout.css']}) }}
    {% block assets %}{% endblock %}
    <title>{{ title }}</title>

</head>
<body>

<!-- ################ Navbar start ############### -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path_for('root', { 'language': language }) }}" class="nav-link">{{ __('Home') }}</a></li>
                <li><a href="{{ path_for('events', { 'language': language }) }}" class="nav-link">{{ __('Events') }}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- ################# Navbar end ################## -->

<div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div>by Tekk</div>
</nav>

<div id="loader">
    <div id="loading"></div>
</div>

</body>
</html>
