{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['User/users.js'], name: 'users.js'}) }}
{% endblock %}

{% block content %}

    <h1>{{ __('Users') }}</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">{{ __('ID') }}</th>
            <th scope="col">{{ __('Username') }}</th>
            <th scope="col">{{ __('First name') }}</th>
            <th scope="col">{{ __('Last name') }}</th>
            <th scope="col">{{ __('E-Mail') }}</th>
            <th scope="col">{{ __('Role') }}</th>
        </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>

    <script type="text/html" id="user-list">
        {{ source('User/users.mustache') }}
    </script>

    <div class="modal fade" id="role-modal" role="dialog">
        <div class="modal-dialog">
            <input type="hidden" />
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ __('Change role') }}</h4>
                </div>
                <div class="modal-body" id="dropdown-menu">

                    <button class="btn btn-primary dropdown-toggle" data-name="select-role-button" type="button" data-toggle="dropdown">{{ __('Role') }}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><p class="col-sm-offset-1" data-name="ROLE_ADMIN" data-value="{{ __('Admin') }}">{{ __('Admin') }}</p></li>
                        <li><p class="col-sm-offset-1" data-name="ROLE_MODERATOR" data-value="{{ __('Moderator') }}">{{ __('Moderator') }}</p></li>
                        <li><p class="col-sm-offset-1" data-name="ROLE_USER" data-value="{{ __('User') }}">{{ __('User') }}</p></li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="confirm-role">{{ __('Confirm') }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Close') }}</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
