{% extends "Layout/layout.twig" %}

{% block assets %}
    {{ assets({files: ['Events/events.css'], name: 'events.css'}) }}
    {{ assets({files: ['Events/events.js'], name: 'events.js'}) }}
{% endblock %}

{% block content %}
    <h1>{{ __('Events') }}</h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">{{ __('Name') }}</th>
            <th scope="col">{{ __('Date') }}</th>
            <th scope="col">{{ __('Location') }}</th>
        </tr>
        </thead>
        <tbody id="target"></tbody>
    </table>

    <template id="event-list" type="text/html">
        {{ source('Events/events.mustache') }}
    </template>

{% endblock %}
